<div class="row">
    <div>
        <img src="../../../assets/foto.JPG" class="img-fluid">
    </div>
    <div>
        <p>Román Scollo</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div>
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Odio nobis est illo ad harum sint enim blanditiis nesciunt, 
               praesentium voluptatum quia eligendi at tempora quam sunt minus,
               nulla ipsa adipisci.</p>
        </span>
    </div>
</div>